
{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="#">I'm Mr Prince</a>
                  <small class="text-muted">Smile Please</small>
                </div>
                <h2><a class="article-title" href="#">I am happy to see this what your openion</a></h2>
                <p class="article-content">I am a Developer</p>
              </div>
            </article>
{% endblock content %}



<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    {% if title %}-->
<!--    <title>Django blog-{{ title }}</title>-->
<!--    {% else %}-->
<!--    <title>Django Blog</title>-->
<!--    {% endif %}-->
<!--</head>-->
<!--<body>-->
<!--    <h1>This is about page</h1>-->
<!--</body>-->
<!--</html>-->